/* fonts 

font-family: 'Spectral SC', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Barlow Semi Condensed', sans-serif;

*/

* {
	padding: 0;
	margin: 0;
}



#header {
	padding: 40px;
    top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background-color: white;
	font-size: 20px;
	color: #4CAF50;
	font-family: 'Spectral SC', serif;
	/*border-bottom-style: solid;
	border-bottom-width: medium;
	border-bottom-color: #4CAF50;   optional border */
}

@media (max-width: 800px) {
	#header {
		padding: 40px 0px 0px 10px;
	}
}

#header a{
	text-decoration: none;
	color: #4CAF50;
}

#navlist {
    list-style-type: none;
    overflow: hidden;
}

#listfloat {
    float: left;
}

/* No longer used as I have put the header above the navbar
#nameright {
	float: right;
	margin: 0;
	font-size: 20px;
	color: #4CAF50;
	padding-top: 50px;
	right: 10px;
	top: 0;
	position: fixed;
	font-family: 'Spectral SC', serif;
}
*/

#navlinks {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	text-decoration: none;    
}


#natureimage {
	background-image: url("Images/girl_bino.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 450px;
	width: 100%;		
	padding-top: 150px;

}

#natureimage .content h1{
	border: 3px solid white;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-weight: bold;
}

#radimage {
	background-image: url("Images/radiation.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 800px;
	width: 100%;		
	padding-top: 150px;

}

#radimage .content h1{
	border: 3px solid white;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-weight: bold;
}


#tabletimage {
	background-image: url("Images/tablet.jpeg");
	background-size: cover;
	background-position: bottom center;
	height: 400px;
	width: 100%;		
	padding-top: 150px;

}

#tabletimage .content h1{
	border: 3px solid white;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;	
	font-family: 'Raleway', sans-serif;
	font-size: 60px;
	font-weight: bold;
}


#freeimage {
	background-image: url("Images/freemoney.png");
	background-size: cover;
	background-position: bottom center;
	height: 400px;
	margin: 0 auto;
	width: 500px;		
	padding-top: 0px;

}


#miximage {
	background-image: url("Images/mix.jpg");
	background-size: cover;
	background-position: bottom center;
	height: 400px;
	margin: 0 auto;
	width: 500px;		
	padding-top: 0px;

}


li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
	
}

.right {
    text-align:right;
}


.maintext p{							/* Format for main text */
	margin:10px auto;
	max-width:750px;
	padding:10px 0px;
	font-family: 'Open Sans', sans-serif;
	line-height:1.6;
	font-size:18px;
	color:#444;
	text-align: justify;
}

.maintext {							/* Format for main text */
	margin:0px auto;
	max-width:750px;
	padding:10px 10px;
	font-family: 'Open Sans', sans-serif;
	line-height:1.6;
	font-size:18px;
}

.maintext h3{
	color: #4CAF50;
}

.maintitle {
	margin:20px auto;
	font-size: 35px;
	max-width:750px;
	padding:50px 10px 0;
	font-family: 'Lato', sans-serif;
	line-height:1.2;
	color:#444;
}

.titles {				/* Format for titles */
	margin:0px auto;
	max-width:750px;
	padding:0px 10px 0;
	font-family: 'Lato', sans-serif;
	line-height:1.2;
	color:#444;
	text-decoration: none;
}

.titles h2 {
	font-size: 30px;
}

figcaption {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: gray;
}
	

.bold {
	font-weight: bold;
}